* {
	font-family: "Roboto", sans-serif;
}

h1, h3 {
	font-family: 'Montserrat', sans-serif;
}

h3 {
	color: #007bff;
}

img {
	height:	250px;
	width: 250px;
}

#Landing {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

#Gallery {
	height: 75vh;
	display: flex;
	flex-direction:	column;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}

ul {
	list-style:			none;
	padding:			0;
}

.tools{
	/*border: width style color*/
	border: 5px solid #e0e0e0;
	height: 200px;
	width: 75%;
	margin: 20px;
	padding: 25px;
	color: white;
}

html{
	scroll-behavior: smooth;
}